body {
    padding: 0;
    margin : 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app-container {
    .header-container {
        .navbar-nav {
            z-index: 10;
            opacity: 0.3;

            .nav-link {
                &.active {
                    color: #2f3c7e;
                }
            }
        }
    }
}

video {
    position  : fixed;
    top       : 0;
    left      : 0;
    width     : 100vw;
    height    : 100vh;
    object-fit: cover; //Giữ tỉ lệ & Phóng to để phủ kín màn hình
}