body {
    padding: 0;
    margin : 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 1350px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1300px !important;
    }
}

.app-container {
    .header-container {
        .btn-login {
            border-radius: 6px;
            margin-right : 15px;
            padding      : 5px 16px;
            border       : 1px solid #595959;
            height       : 40px;
        }

        .btn-signup {
            border-radius: 6px;
            padding      : 5px 16px;
            background   : #303030;
            color        : white;
            height       : 40px;


            &:hover {
                background: black;
            }
        }

        .navbar {
            padding-top     : 20px;
            z-index         : 10;
            background-color: rgba(0, 0, 0, 0) !important;

            .nav-link {
                &.active {
                    color: #2f3c7e;
                }
            }
        }
    }

    .homepage-container {
        .homepage-content {
            position      : relative;
            padding       : 200px 100px;
            width         : 50%;
            display       : flex;
            flex-direction: column;
            gap           : 30px;

            .title-first {
                font-size  : 45px;
                font-weight: 300;
            }

            .title-second {
                font-size: 25px;
            }

            .title-third {
                button {
                    height       : 40px;
                    border-radius: 6px;
                    padding      : 5px 16px;
                    background   : #303030;
                    color        : white;

                    &:hover {
                        background: black;
                    }
                }
            }
        }
    }
}

video {
    position  : fixed;
    top       : 0;
    left      : 0;
    width     : 100vw;
    height    : 100vh;
    object-fit: cover; //Giữ tỉ lệ & Phóng to để phủ kín màn hình
}